.header {
	height: rem(56px);
	margin-bottom: rem(96px);
	background-color: var(--mantine-color-body);
	border-bottom: rem(1px) solid
		light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
	height: rem(56px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	display: block;
	line-height: 1;
    height: var);
	padding: rem(12px) rem(12px);
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	@mixin hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-6)
		);
	}

	[data-mantine-color-scheme] &[data-active] {
		background-color: var(--mantine-color-blue-5);
		color: var(--mantine-color-white);
	}
}

.highlightColor {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

/* .modalMenu {
	padding-top: rem(20px);
} */

/* .themeBtn {
	background-color: var(--mantine-color-dark-6);
} */


/* !This is for theme switch btn */

.icon {
    width: rem(22px);
    height: rem(22px);
  }

.dark {
    @mixin dark {
      display: none;
    }

    @mixin light {
      display: block;
    }
}

.light {
    @mixin light {
      display: none;
    }

    @mixin dark {
      display: block;
    }
  }